body {
    background-color: rgb(51, 6, 6);
  }
  h1 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-left: 100px;
  }
  
  ul.list {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  ul.list-ni {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 80px;
  }
  
  
  header {
    background-color: #d0c4c4;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 25px;
    max-width: none;
  }
  
  
  
  a.dev {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
  }
  a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: lightgrey;
  }
  
  a:active {
    color: lightgray;
  }
  ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #d0c4c4;
  }
  
  li.float {
    float: left;
  }
  
  li a {
    display: block;
    color: #d0c4c4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  
  